<footer id="footer" class="footer-container">

<div class="footer-top">
    <div class="container">
        <div class="inner"></div>
    </div>
</div>
<div class="footer-center">
    <div class="inner"><!-- @file modules\appagebuilder\views\templates\hook\ApRow -->
        <div class="wrapper"      >
            <div class="container">
                <div        class="row box-footer-top ApRow  "
                            style=""        >

                    <!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
                    <div    class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 col-sp-12  ApColumn "
                            >

                        <!-- @file modules\appagebuilder\views\templates\hook\ApBlockLink -->
                        <div id="blockLink-form_8583950157657992" class="ApLink links ApBlockLink">
                            <div class="block">
                                <h4 class="title_block title"  data-target="#footer_sub_menu_85337" data-toggle="collapse">
                                    Help
                    <span class="pull-right hidden-md-up">
                      <span class="navbar-toggler collapse-icons">
                        <i class="material-icons add">&#xE313;</i>
                        <i class="material-icons remove">&#xE316;</i>
                      </span>
                    </span>
                                </h4>
                                <ul class="toggle-footer list-group bullet collapse" id="footer_sub_menu_85337">
                                    <li><a href="credit-slip" target="_blank">{{ 'sylius.ui.delivery_and_shipping'|trans  }}</a></li>
                                    <li><a href="discount" target="_blank">{{ 'sylius.ui.terms_and_conditions'|trans }}</a></li>
                                    <li><a href="identity" target="_blank">Gift Cards</a></li>
                                    <li><a href="credit-slip" target="_blank">Credit Slip</a></li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
                    <div    class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 col-sp-12  ApColumn "
                            >

                        <!-- @file modules\appagebuilder\views\templates\hook\ApBlockLink -->
                        <div id="blockLink-form_3724055996681492" class="ApLink links ApBlockLink">
                            <div class="block">
                                <h4 class="title_block title"  data-target="#footer_sub_menu_86522" data-toggle="collapse">
                                    Services
                    <span class="pull-right hidden-md-up">
                      <span class="navbar-toggler collapse-icons">
                        <i class="material-icons add">&#xE313;</i>
                        <i class="material-icons remove">&#xE316;</i>
                      </span>
                    </span>
                                </h4>
                                <ul class="toggle-footer list-group bullet collapse" id="footer_sub_menu_86522">
                                    <li><a href="contact-us" target="_blank">International</a></li>
                                    <li><a href="credit-slip" target="_blank">Order Status</a></li>
                                    <li><a href="identity" target="_blank">{{ 'sylius.ui.returns_policy'|trans  }}</a></li>
                                    <li><a href="discount" target="_blank">Discount</a></li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
                    <div    class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 col-sp-12  ApColumn "
                            >

                        <!-- @file modules\appagebuilder\views\templates\hook\ApBlockLink -->
                        <div id="blockLink-form_9708131621668075" class="ApLink links ApBlockLink">
                            <div class="block">
                                <h4 class="title_block title"  data-target="#footer_sub_menu_50347" data-toggle="collapse">
                                    Shop
                    <span class="pull-right hidden-md-up">
                      <span class="navbar-toggler collapse-icons">
                        <i class="material-icons add">&#xE313;</i>
                        <i class="material-icons remove">&#xE316;</i>
                      </span>
                    </span>
                                </h4>
                                <ul class="toggle-footer list-group bullet collapse" id="footer_sub_menu_50347">
                                    <li><a href="new-products" target="_blank">New products</a></li>
                                    <li><a href="best-sales" target="_blank">{{ 'sylius.ui.customer_care'|trans  }}</a></li>
                                    <li><a href="prices-drop" target="_blank">{{ 'sylius.ui.faqs'|trans  }}</a></li>
                                    <li><a href="contact-us" target="_blank">{{ 'sylius.ui.contact_us'|trans  }}</a></li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
                    <div    class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 col-sp-12  ApColumn "
                            >

                        <!-- @file modules\appagebuilder\views\templates\hook\ApBlockLink -->
                        <div id="blockLink-form_3047060431140662" class="ApLink links ApBlockLink">
                            <div class="block">
                                <h4 class="title_block title"  data-target="#footer_sub_menu_65102" data-toggle="collapse">
                                    Account
                    <span class="pull-right hidden-md-up">
                      <span class="navbar-toggler collapse-icons">
                        <i class="material-icons add">&#xE313;</i>
                        <i class="material-icons remove">&#xE316;</i>
                      </span>
                    </span>
                                </h4>
                                <ul class="toggle-footer list-group bullet collapse" id="footer_sub_menu_65102">
                                    <li><a href="contact-us" target="_blank">{{ 'sylius.ui.your_store'|trans }}</a></li>
                                    <li><a href="credit-slip" target="_blank">{{ 'sylius.ui.about'|trans }}</a></li>
                                    <li><a href="identity" target="_blank">{{ 'sylius.ui.terms_and_conditions'|trans }}</a></li>
                                    <li><a href="discount" target="_blank">International</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="inner"><!-- @file modules\appagebuilder\views\templates\hook\ApRow -->
        <div class="wrapper"      >
            <div class="container">
                <div        class="row box-footer-bottom ApRow  has-bg bg-boxed"
                            data-bg=" no-repeat"                style="background: no-repeat;"        >

                    <!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
                    <div    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12 group-copyright ApColumn "
                            >
                        <!-- @file modules\appagebuilder\views\templates\hook\ApGeneral -->
                        <div     class="block ApRawHtml">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="back-top"><a href="#" class="fa fa-angle-up"></a></div>
</footer>